

body{
    background-color: #1A1A1A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 110vh;
    width: 30vw;
}

label{
    color: black;
}

#quote{
    color: #FF69B4;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-left: 50px;



}
.quote{
    width: 70vw;
    height: 30vh;
    padding-top: 50px;
}

#submit{
    background-color: #FF69B4;
    color: white;
    border-radius: 20%;
    height: 20px;
    flex-direction: column;
}

#submit:hover{
    background-color: #ff49a7;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#forms{
    position: relative;
    background-color: white;
    filter: drop-shadow(5px 5px 4px #242424);
    width: 70vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-row{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
}

form label {
    color: black;
    min-width: 100px; 
}
form input {
    width: 200px; 
}

input, label{
    display: block;
}
