

body{
    background-color: #FFFFF0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 100vh;
    width: 30vw;
}

label{
    color: black;
    display: flex;
}

#quote{
    color: rgb(0, 0, 0);
    text-align: center;

}
.quote{
    width: 70vw;
    height: 30vh;
    padding-top: 50px;
}

#submit{
    background-color: #596D48;
    color: white;
    border-radius: 20%;
    height: 20px;
    flex-direction: column;
}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 30px
}

#forms{
    display: flex;
    padding-left: 100px;
    background-color: aliceblue;
}