

body{
    background-color: #FFFFF0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 110vh;
    width: 30vw;
}

label{
    color: black;
}

#quote{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;


}
.quote{
    width: 70vw;
    height: 30vh;
    padding-top: 50px;
}

#submit{
    background-color: #596D48;
    color: white;
    border-radius: 20%;
    height: 20px;
    flex-direction: column;
}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#forms{
    position: relative;
    background-color: white;
    filter: drop-shadow(5px 5px 4px #242424);
    width: 70vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-row{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

form label {
    color: black;
    min-width: 100px; 
}

form input {
    width: 200px; 
}
